<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	  
	  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
	  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places" type="text/javascript"></script> 
        <title> Log in or Sign up</title>
    </head>

    <body>
	<nav class="top-nav blue">
	<a class="brand-logo center">Image Uploader - Group 4</a>
	</nav>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
		
		<div class="container" style="padding-left: 150px;padding-right: 150px;" >
          
		<div class="row">		
			<div class="col s12">
						<div class="card-panel z-depth-1" >
                            <a><font size="6">Log In</font></a>
                            <p>
                               <input placeholder="Username" id="user_name" type="text" class="validate">
                            </p>


                            <p>
                                <input placeholder="Password" id="password" type="password" class="validate">
                            </p>
                            <a class="waves-effect waves-light blue btn-large" id="login">Log In</a>
                        </div>
			</div>
            
            <p><a href="#bottom"><font size="6" color="grey"><center>Don't have an account yet? Sign up below!</center></font></a></p>
            
            <div class="col s12" id="bottom">
						<div class="card-panel blue lighten-5 z-depth-1" >
                            <p>
                               <a><font size="6">Sign Up</font></a>
                            </p>
                            <p>
                               <input placeholder="Username" id="user_name2" type="text" class="validate">
                            </p>


                            <p>
                                <input placeholder="Password" id="password2" type="password" class="validate">
                            </p>
                            <a class="waves-effect waves-light blue btn-large" id="signup">Sign Up</a>
						</div>
			</div>
		</div>
        </div>
		
		

    </body>
  </html>


        